name: Test

on:
  push:
    tags:
      - v*
    branches:
      - main
      - dev
  pull_request:
permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go-version: [1.22.x, 1.23.x, 1.24.x, 1.25.x]

    name: go-test
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v5
      - name: Run the tests
        run: make test
      - name: Determine test coverage
        run: make test-coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
